<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}
.month ul {
    margin: 0;
    padding: 0;
}
.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.month .prev {
    float: left;
    padding-top: 10px;
}
.month .next {
    float: right;
    padding-top: 10px;
}
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}
.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}
.days li {
    display: inline-block;
    width: 22%;
    text-align: center;
    margin-bottom: 5px;
    margin-top:5px;
    font-size:12px;
    color: #777;
}
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}
@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}
@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}
</style>
    
    <title>Bil495Calendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <%= yield %>
	
    <div class="month">      
    <ul>
      <li class="prev" onClick=(changeMonth(0))>&#10094;</li>
      <li class="next" onClick=(changeMonth(1))>&#10095;</li>
      <li id="month">
      <script>
      
        	var months=["JANUARY","FEBRUARY","MARCH","APRIL","MAY","JUNE","JULY","AUGUST","SEPTEMBER","OCTOBER","NOVEMBER","DECEMBER"];
        	var currentDate = new Date(); 
			currentMonth= currentDate.getMonth();
			var currentYear= currentDate.getFullYear();
      		function changeMonth(index){
      			if(index==0){
      				document.getElementById("month").innerHTML = getPreviousMonth() + " " + currentYear;
					document.getElementById("days").innerHTML=Days();
      			}
      			else{
      				document.getElementById("month").innerHTML = getNextMonth() + " " + currentYear;
					document.getElementById("days").innerHTML=Days();
      			}
      		}
    		function getCurrentMonth(){
	 			 return months[currentMonth];
    		}
    		function getPreviousMonth(){
    			if(currentMonth!=0)
    				currentMonth-=1;
				else{
					currentMonth=11;
					currentYear-=1;
				}
    			return months[currentMonth];
    		}
    		function getNextMonth(){
    			if(currentMonth!=11)
    				currentMonth+=1;
				else{
					currentMonth=0;
					currentYear+=1;
				}
    			return months[currentMonth];
    		}
			
      		document.getElementById("month").innerHTML = getCurrentMonth() + " " + currentYear; 
      
      </script>
      </li>
    </ul>
  </div> 
  <ul class="days" id="days"> 
  
  <script>
  var jsonObject;
  function GetJSON(yourUrl){
    var Httpreq = new XMLHttpRequest(); // a new request
    Httpreq.open("GET",yourUrl,false);
    Httpreq.send(null);
    return Httpreq.responseText;          
  }
  jsonObject=JSON.parse(GetJSON('https://guarded-bayou-90785.herokuapp.com/appointments.json'));
  function Days(){
    var d='';
    
    for(i=1;i<32;i++){
      d=d+'<li>'+i;
      var y;
      for(y=0;y<jsonObject.length;y++){
        if(jsonObject[y].date.substring(8,10)==i && Number(jsonObject[y].date.substring(5,7))==currentMonth + 1){
          d= d+"#"+'<p>'+jsonObject[y].description+' '+jsonObject[y].date.substring(11,16)+'</p>';
        }
        else{
          d=d+'<p></p>';
        }
      }
      d=d+'</li>';   
    } 
    return d;
  }
  document.getElementById("days").innerHTML=Days();
  </script>
  </ul>
  
  
  
  
  
  
  </body>
 
  
</html>